* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    background-color: gray;
    color: white;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.text-content {
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.062);
}

.text-holder {
    margin: 0 20px 0 20px;
}

#finished-recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}